ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed; 
    overflow: auto;
    background-color: rgb(161, 127, 255);
}

li a {
    display: block;
    text-decoration: none;
    padding: 20px 16px 20px 10px; 
    text-align: center;
}
 
li a:hover {
    background-color: #555;
    color: white;
}

li a:link{
    color: blue;
}
